.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div#colonne1 {
  float: left;
  width: 450px;
  background: lightblue;
}

div#colonne2 {
  float: right;
  width: 450px;
  background: burlywood;
}

div#centre {
  background: red;
  margin-left: 460px;
  margin-right: 460px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
